# Xcode
*.xcuserstate
*.xcworkspacedata
xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build artifacts
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
.idea/
.vscode/
*.swp
*.swo

.envrc
Secrets.xcconfig

plans.md

# Release artifacts
*.zip
