//
//  Secrets.xcconfig
//  Spotifly
//
//  Created by Ralph von der Heyden on 02.01.26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

SPOTIFY_CLIENT_ID="add_your_key_here"
